<!doctype html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <title>南宋皇城小镇</title>
    <meta name="Description" content="">
    <meta name="Keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-title" content=""/>
    <meta name="apple-touch-fullscreen" content="YES" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="HandheldFriendly" content="true" />
    <meta http-equiv="x-rim-auto-match" content="none" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body style="overflow: hidden; background-color:#ccc;">
    <div class="landscape" style="display: none;">
        <div class="con">
            <p class="word">请切换到竖屏浏览</p>
        </div>
    </div>
    <div class="page page_index">
        <img class="topimg" src="/images/hcxz_fz.jpg"/>
        <img class="topimg" src="/images/hcxz_yz.png"/>
        <img class="topimg" src="/images/list_img1.png" />
        <img style="margin-top:30px;" class="topimg" src="/images/img_ewm.png"/>
    </div>

</body>
</html>