<!doctype html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <title>南宋皇城小镇</title>
    <meta name="Description" content="">
    <meta name="Keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-title" content=""/>
    <meta name="apple-touch-fullscreen" content="YES" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="HandheldFriendly" content="true" />
    <meta http-equiv="x-rim-auto-match" content="none" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/detail.css">
</head>
<body>
<div class="page detail">
  <div class="center">
    <div class="author clear">
      <div class="txCon"><img src="/images/banner.jpg" alt="" /></div>
      <div class="info">
        <h3 class="tit js_title"></h3>
        <div class="name  js_name">作者：<i></i></div>
      </div>
    </div>
    <ul class="rankBox clear">
      <li><h5 class="js_now"></h5><div>当前票数</div></li>
      <li><h5 class="js_order"></h5><div>排名</div></li>
      <li><h5 class="js_gap"></h5><div>距上一名还差</div></li>
    </ul>
    <div class="works">
      <h1 class="tit">参赛作品</h1>
      <div class="work_show"><img src="" alt="" /></div>
      <p class="js_remark"></p>
    </div>
    <div class="join_btn js_btnyq"><button>邀请好友投票</button></div>
  </div>
  <div class="shareimg js_sharebox"><img src="/images/shareimg.png" alt="" /></div>
</div>
<div class="loading"><img src="http://cdn.minsuyun.com/weixin/wap/l/6/images/loading1.gif"/></div>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="http://cdn.minsuyun.com/weixin/wap/js/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="/scripts/vendor.js"></script>
<script type="text/javascript" src="/scripts/app.js"></script>
<script type="text/javascript" src="/scripts/templates.js"></script>
<script type="text/javascript" src="/plugins/cookie.js"></script>
<script type="text/javascript">
  var basePath = "http://hcxz.k95.cn";
  require("helper");
    //document.addEventListener('touchmove',function(e){e.preventDefault();});
  var curevent=false;
  var parameter = getUrlParameter();window.parameter=parameter;
  if(!parameter["openId"]){
    parameter["openId"] = getCookie("wxopenid");
  }
  
  var ajaxpar = new Array();window.ajaxpar=ajaxpar;
    ajaxpar['isajaxing']=false;//是否正在请求数据  false情况下可以请求
    ajaxpar['lastvote']=0;
  var fenxiang=new Object();window.fenxiang=fenxiang;
    fenxiang['title'] = '最美皇城小城，万元大奖等你来！！';
    fenxiang['desc'] = '活动时间：10月14日至11月15日';
    // fenxiang['link'] = 'http://mp.weixin.qq.com/s?__biz=MzI0MTYwMzA0Ng==&mid=2247483655&idx=1&sn=da16eaf5a3e8f9b919eee01b312ee365&chksm=e908598ede7fd09875b4bb3eacfead919b2d7492033de73ff7169927673eaeb01035cabafe13&mpshare=1&scene=1&srcid=1109kxQhsZiHj846t2lOgTBx#rd';
    fenxiang['link'] = 'http://hcxz.k95.cn';
    fenxiang['imgUrl'] = 'http://hcxz.k95.cn/images/logo.jpg';
    window.onload=function(){
    $('.page01Txt').animate({opacity: 1, translateY: 0}, 500, 'ease');
    };
  $(document).ready(function(e) {
    $(".js_btnyq").click(function(){
      $(".js_sharebox").show();
    });
    urlData();
    $('.js_backlist').click(function(){
      window.location.href='list?actId'+parameter['actId']+'3&openId='+parameter['openId'];;
      return false;
    });
    setData();

    $.ajax({
        type: "GET",
        url:basePath+'/api/wechat/headimage.action',
        data: {
          openid:parameter['openId']
        },  
        beforeSend: function(){
             
        },
        success: function(resuleData) {
          if(resuleData['state']=='success'||resuleData.data!=null){
            $(".txCon img").attr('src',resuleData.data);
          }
        } ,
        error:function(){
        }   
      });
    
  });
  
  function setData(){
    var dataget=new Object();
      // dataget['actId'] = 7;
      // dataget['paId'] = 173;
      dataget['id'] = parameter['id'];
      // dataget['openId'] = parameter['openId'];
    if(!ajaxpar['isajaxing']){
      ajaxpar['isajaxing'] = true;
      $.ajax({
        type: "GET",
        url:basePath+'/api/vote/wechat/voteWechatAction/getPro.action',
        data: dataget,  
        beforeSend: function(){
          $('.loading').fadeIn();     
        },
        success: function(resuleData) {
          var mywork = resuleData.data;
          $("h3.js_title").html("<i>"+mywork["vote_code"]+"</i>"+mywork["name"]);
          $(".js_name i").text(mywork["username"]);
          $("h5.js_now").text(mywork["num"]==null?0:mywork["num"]);
          $("h5.js_order").text(mywork["index"]==null?1:mywork["index"]);
          $("h5.js_gap").text(mywork["marginNum"]==null?0:mywork["marginNum"]);
          $(".js_remark").text(mywork["remark"]);
          $(".work_show img").attr('src',
              basePath+"/api/vote/wechat/fileAction/getFile.action?filename="+mywork["img_src"]);
          // $(".work_show img").attr('src',
          //     basePath+"/api/vote/wechat/fileAction/getFile.action?filename=23ec0af4-c0a7-4f56-b5e0-3dae1e28562d.jpg");
          
          if(resuleData['result']=='success'){
            
            ajaxpar['lastvote']=resuleData.vote;
            var dataone = resuleData['detail'];
            
            $(".js_pic").attr('src',dataone.img).fadeIn();
            if(dataone['isPub']=='0'){
              var htmlbtn  =  '<img src="/images/hcxz_btn3.png"  class="btn"/>'+
                    '<img src="/images/hcxz_btn6.png" class="btn js_golist"/>';
              $('.js_btntype').html(htmlbtn);
              var html = '<img src="'+dataone['headPic']+'"/>'+
                    '<p>昵称：'+dataone['nickname']+'</span></p>'+
                    '<p class="js_votenum">当前<span>'+dataone['ballot']+'</span>票&nbsp;&nbsp;编号：'+dataone['orderNo']+'</p>'+
                    '<p class="tip">审核中，暂不能参与投票！</p>';
              $(".js_user").html(html);
            }
            else{
              var htmlbtn  =  '<img src="/images/hcxz_btn1.png" dataid="'+dataone['id']+'" class="btn js_vote"/>'+
                      '<img src="/images/hcxz_btn4.png" class="btn js_sharebtn"/>'+
                      '<img src="/images/hcxz_btn6.png" class="btn js_golist"/>';
                      
              var htmlbtn2  =  '<img src="/images/hcxz_btn3.png" class="btn "/>'+
                      '<img src="/images/hcxz_btn4.png" class="btn js_sharebtn"/>'+
                      '<img src="/images/hcxz_btn6.png" class="btn js_golist"/>';
              if(resuleData['vote']>0)$('.js_btntype').html(htmlbtn);
              else $('.js_btntype').html(htmlbtn2);
              var html = '<img src="'+dataone['headPic']+'"/>'+
                    '<p>昵称：'+dataone['nickname']+'</span></p>'+
                    '<p class="js_votenum">当前<span>'+dataone['ballot']+'</span>票&nbsp;&nbsp;编号：'+dataone['orderNo']+'</p>';
              $(".js_user").html(html);
            }
            $('.js_content').html(dataone['intro']);
            $('.loading').fadeOut(); 
            resetVote();
          }
          else{
            $('.loading').fadeOut();   
            ajaxpar['islastpage']=true;//是否最后一页
          }
          ajaxpar['isajaxing'] = false;
        } ,
        error:function(){
          $('.loading').fadeOut(); 
          ajaxpar['isajaxing'] = false;
        }   
      });
    }
  }
  function resetVote(){
    $('.js_btntype .js_vote').unbind("click");
    $('.js_btntype .js_vote').bind('click',function(){
      //开始投票
      if(!ajaxpar['isajaxing']){
        ajaxpar['isajaxing'] = true;
        var dataget=new Object();
        dataget['merchantsId'] = parameter['id'];
        dataget['openId'] = parameter['openId'];
        if(dataget['merchantsId']>0){
          $.ajax({
            type: "GET",
            url:'http://wx.teemax.com.cn/weixin/app/game_votes!saveBallot.action', 
            data: dataget,  
            dataType: "jsonp",  
            beforeSend: function(){
              $('.loading').fadeIn();     
            },
            success: function(resuleData) {
              if(resuleData.result=='success'){
                ajaxpar['lastvote']-=1;
                var numnew = parseInt($('.js_votenum span').text())+1;
                $('.js_votenum span').text(numnew);
                if(ajaxpar['lastvote']==0){
                  var htmlbtn2  =  '<img src="/images/hcxz_btn3.png" class="btn "/>'+
                    '<img src="/images/hcxz_btn4.png" class="btn js_sharebtn"/>'+
                    '<img src="/images/hcxz_btn6.png" class="btn js_golist"/>';
                  $('.js_btntype').html(htmlbtn2);
                }
                $(".js_signtip").html('投票成功，剩余'+ajaxpar['lastvote']+'票').fadeIn(1000);
                window.setTimeout(function(){
                  $(".js_signtip").fadeOut(3000);
                },1000);
                resetVote();
              }
              if(resuleData.isSubcribed==0){
                window.location.href='/views/follow.html';
              }
              ajaxpar['isajaxing'] = false;
              $('.loading').fadeOut();   
            },
            error:function(){
              ajaxpar['isajaxing'] = false;
              $('.loading').fadeOut();   
            } 
          });
        }
        else{
          ajaxpar['isajaxing'] = false;
        }
      }
    });
    $('.js_sharebtn').unbind("click");
    $('.js_sharebtn').click(function(){
      $('.js_sharetip').fadeIn();
      return false;
    });
    $('.js_sharetip .js_back').click(function(){
      $('.js_sharetip').fadeOut();
      return false;
    });
    $('.js_golist').unbind("click");
    $('.js_golist').click(function(){
      window.location.href='list.html?actId='+parameter["actId"]+'&openId='+parameter['openId'];
      return false;
    });
  }
  function urlData(){
      var Yurl=window.location.href;
      var datapost=new Object();
        // datapost['proId'] = parameter['paId'];
        datapost['url'] = Yurl;
      $.ajax({
        type: "GET",
        url:basePath + '/api/wechat/sign.action', 
        data: datapost,  
        beforeSend: function(){
            
        },
        success: function(resp) {
          var resuleData = resp.data;
          wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: resuleData.appId, // 必填，公众号的唯一标识
            timestamp:resuleData.timestamp , // 必填，生成签名的时间戳
            nonceStr: resuleData.nonceStr, // 必填，生成签名的随机串
            signature: resuleData.signature,// 必填，签名，见附录1
            jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage','onMenuShareQQ','onMenuShareWeibo','onMenuShareQZone'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
          });
        },
        error: function(resuleData) {
          //请求出错处理
          //alert('请求出错处理');
        }
      });
    }
  wx.ready(function () {
    //分享到朋友圈
    wx.onMenuShareTimeline({
      title: fenxiang['title'],
      desc: fenxiang['desc'],
      link: fenxiang['link'],
      imgUrl: fenxiang['imgUrl'],
      success: function () { 
        //分享到朋友圈成功，开启活动
        //alert('已分享到朋友圈');
        beginGame();
      },
      cancel: function () { 
        //alert('已取消分享');
      }
    });
    //发送给朋友
    wx.onMenuShareAppMessage({
      title: fenxiang['title'],
      desc: fenxiang['desc'],
      link: fenxiang['link'],
      imgUrl: fenxiang['imgUrl'],
      success: function () { 
        // 用户确认分享后执行的回调函数
      },
      cancel: function () { 
        // 用户取消分享后执行的回调函数
      }
    });
    //分享到QQ
    wx.onMenuShareQQ({
      title: fenxiang['title'],
      desc: fenxiang['desc'],
      link: fenxiang['link'],
      imgUrl: fenxiang['imgUrl'],
      success: function () { 
        // 用户确认分享后执行的回调函数
      },
      cancel: function () { 
        // 用户取消分享后执行的回调函数
      }
    });
    //分享到腾讯微博
    wx.onMenuShareWeibo({
      title: fenxiang['title'],
      desc: fenxiang['desc'],
      link: fenxiang['link'],
      imgUrl: fenxiang['imgUrl'],
      success: function () { 
        // 用户确认分享后执行的回调函数
      },
      cancel: function () { 
        // 用户取消分享后执行的回调函数
      }
    });
    //分享到QQ空间
    wx.onMenuShareQZone({
      title: fenxiang['title'],
      desc: fenxiang['desc'],
      link: fenxiang['link'],
      imgUrl: fenxiang['imgUrl'],
      success: function () { 
        // 用户确认分享后执行的回调函数
      },
      cancel: function () { 
        // 用户取消分享后执行的回调函数
      }
    });
  });
  function getUrlParameter(){
    var url = location.search,value;
    var returnArray = new Array();
    if (url.indexOf("?") != -1) {
      var str = url.substr(1);
      strs = str.split("&");
      for(var i = 0; i < strs.length; i ++) {
        returnArray[strs[i].split("=")[0]]=decodeURIComponent(strs[i].split("=")[1]);
      }
    }
    return returnArray;
  }
</script>
</body>
</html>