<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security/oauth2"
	xmlns:sec="http://www.springframework.org/schema/security" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
                         http://www.springframework.org/schema/security/oauth2 http://www.springframework.org/schema/security/spring-security-oauth2.xsd
                         http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<!-- 获取token -->
	<beans:bean id="tokenAction" class="com.roof.vote.token.TokenAction"
		scope="prototype">
		<beans:property name="tokenGranters">
			<util:map>
				<beans:entry key="password" value-ref="passwordTokenGranter" />
				<beans:entry key="refresh_token" value-ref="refreshTokenGranter" />
			</util:map>
		</beans:property>
		<beans:property name="clientDetailsService" ref="clientDetailsService" />
		<beans:property name="clientRegistrationService" ref="clientRegistrationService" />
	</beans:bean>

	<beans:bean id="oAuth2AuthenticationManager"
		class="org.springframework.security.oauth2.provider.authentication.OAuth2AuthenticationManager">
		<beans:property name="tokenServices" ref="tokenServices" />
	</beans:bean>

	<!--过滤器 <custom-filter ref="oAuth2AuthenticationProcessingFilter" before="ANONYMOUS_FILTER"/> -->
	<beans:bean id="oAuth2AuthenticationProcessingFilter"
		class="org.springframework.security.oauth2.provider.authentication.OAuth2AuthenticationProcessingFilter">
		<beans:property name="authenticationManager" ref="oAuth2AuthenticationManager" />
	</beans:bean>

	<beans:bean id="passwordTokenGranter"
		class="org.springframework.security.oauth2.provider.password.ResourceOwnerPasswordTokenGranter">
		<beans:constructor-arg index="0"
			ref="authenticationManager" />
		<beans:constructor-arg index="1" ref="tokenServices" />
		<beans:constructor-arg index="2"
			ref="clientDetailsService" />
	</beans:bean>
	<beans:bean id="refreshTokenGranter"
		class="org.springframework.security.oauth2.provider.refresh.RefreshTokenGranter">
		<beans:constructor-arg index="0" ref="tokenServices" />
		<beans:constructor-arg index="1"
			ref="clientDetailsService" />
	</beans:bean>
</beans:beans>


