<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roof.vote.activity.dao">
	<sql id="columnsAs">
		t1.id, t1.name, t1.code, t1.remark, t1.apply_start_time,
		t1.apply_end_time, t1.vote_start_time, t1.vote_end_time, t1.status,
		t1.vote_rule, t1.vote_limit, t1.create_date, t1.update_date
	</sql>

	<select id="loadActivityByCode" resultType="com.roof.vote.activity.entity.ActivityVo">
		select
		<include refid="columns" />
		from v_activity
		where code=#{code}
	</select>

	<select id="selectActivityPage" resultType="com.roof.vote.activity.entity.ActivityVo">
		select
		<include refid="columnsAs" />
		from
		v_activity t1
		join
		(SELECT
		id
		from
		v_activity
		where 1=1
		<include refid="conds" />
		order by id desc
		limit #{firstrownum}, #{limit}) t2
		where t1.id = t2.id
	</select>

	<select id="selectActivityCount" resultType="java.lang.Long">
		select
		count(id)
		from v_activity
		where 1=1
		<include refid="conds" />
	</select>
</mapper>