form  input.error {
	border: solid 1px red;
}
form textarea.error {
	border: solid 1px red;
}
.errorTooltipClassBak {
	height: 15px;
	filter: alpha(opacity = 80); /*IE滤镜，透明度50%*/
	-moz-opacity: 0.8; /*Firefox私有，透明度50%*/
	opacity: 0.8;
}

.errorTooltipClass {
    height: 28px;
    opacity: 1.0;
    line-height: 1;
    font-size: 12px;
    color: rgb(255, 0, 0);
}
.errordivTooltipClass {
	border: 1px solid #f00;
	border-radius: 3px;
}