<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roof.vote.production.dao">
	<sql id="columnsAs">
		t1.id, t1.name, t1.activity_code, t1.user_id, t1.remark,
		t1.img_src, t1.img_src_thumb, t1.status, t1.vote_code, t1.upload_date,
		t1.create_date, t1.update_date
	</sql>

	<sql id="condsAs">
		<if test="id != null">
			and t1.id = #{id}
		</if>
		<if test="name != null and name != ''">
			and t1.name = #{name}
		</if>
		<if test="activity_code != null and activity_code != ''">
			and t1.activity_code = #{activity_code}
		</if>
		<if test="user_id != null">
			and t1.user_id = #{user_id}
		</if>
		<if test="remark != null and remark != ''">
			and t1.remark = #{remark}
		</if>
		<if test="img_src != null and img_src != ''">
			and t1.img_src = #{img_src}
		</if>
		<if test="img_src_thumb != null and img_src_thumb != ''">
			and t1.img_src_thumb = #{img_src_thumb}
		</if>
		<if test="status != null and status != ''">
			and t1.status = #{status}
		</if>
		<if test="vote_code != null and vote_code != ''">
			and t1.vote_code = #{vote_code}
		</if>
		<if test="upload_date != null">
			and t1.upload_date = #{upload_date}
		</if>
		<if test="create_date != null">
			and t1.create_date = #{create_date}
		</if>
		<if test="update_date != null">
			and t1.update_date = #{update_date}
		</if>
	</sql>

	<select id="selectProductByuserid" resultType="com.roof.vote.production.entity.ProductionVo">
		select
		p.id,
		p.name,
		p.activity_code, p.user_id, p.remark, p.img_src,
		p.img_src_thumb,
		p.status, p.vote_code, p.upload_date, p.create_date,
		p.update_date,a.name as actName,a.remark as actRemark,a.status as
		actStatus,
		a.vote_limit as vote_limit
		from v_production p left join
		v_activity a
		on p.activity_code = a.code
		where p.user_id=#{user_id}
	</select>


	<select id="loadProBycode" resultType="com.roof.vote.production.entity.ProductionVo">
		select
		p.id,
		p.name,
		p.activity_code, p.user_id, p.remark, p.img_src,
		p.img_src_thumb,
		p.status, p.vote_code, p.upload_date, p.create_date,
		p.update_date,a.name as actName,a.remark as actRemark,a.status as
		actStatus,
		a.vote_limit as vote_limit,
		u.name as username ,u.tel as
		usertel
		from v_production p left join
		v_activity a
		on p.activity_code =
		a.code
		left join v_activity_user u on p.user_id = u.id
		where
		p.activity_code=#{activity_code}
		and p.vote_code = #{vote_code}
	</select>

	<select id="selectProBycode" resultType="com.roof.vote.production.entity.ProductionVo">
		select
		p.id,
		p.name,
		p.activity_code, p.user_id, p.remark, p.img_src,
		p.img_src_thumb,
		p.status, p.vote_code, p.upload_date, p.create_date,
		p.update_date,a.name as actName,a.remark as actRemark,a.status as
		actStatus,
		a.vote_limit as vote_limit,
		u.name as username ,u.tel as
		usertel
		from v_production p left join
		v_activity a
		on p.activity_code =
		a.code
		left join v_activity_user u on p.user_id = u.id
		where
		p.activity_code=#{activity_code}
	</select>


	<select id="selectProductionPage" resultType="com.roof.vote.production.entity.ProductionVo">
		select
		<include refid="columnsAs" />
		,
		t3.name as username,
		t3.tel as usertel,
		(SELECT  name from v_activity WHERE code = t1.activity_code ) as actName
		from
		v_production t1
		left join
		v_activity_user t3 on t1.user_id = t3.id
		where 1 = 1
		<include refid="condsAs" />
		order by t1.id asc
		limit #{firstrownum}, #{limit}
	</select>

	<select id="selectProductionCount" resultType="java.lang.Long">
		select
		count(id)
		from v_production
		where 1=1
		<include refid="conds" />
	</select>
</mapper>